#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_crypto
#build/cryptod::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_crypto)

DEB_INSTALL_EXAMPLES_cryptod += debian/examples/*
DEB_INSTALL_MANPAGES_cryptod += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix cryptod
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f crypto-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake crypto-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_crypto
	src/test_crypto

# Ensure wrapper is set executable
binary-post-install/cryptod:
	chmod +x $(cdbs_curdestdir)usr/bin/cryptod
binary-post-install/crypto-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/crypto-qt
